.roboto {
    font-family: 'Roboto Condensed', sans-serif;
}

.ubuntu {
    font-family: 'Ubuntu Condensed', sans-serif;
}

.lobster {
    font-family: 'Lobster Two', cursive;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.btn1 {
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 3500ms ease;
}

#images {
    align-items: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
    text-decoration: none;
}

#landing-text {
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

#turtle {
    height: 100vh;
}